{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 240,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"tabWidth": 2,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
